html {
    background-color: #393939;
    color: #b8c4d0;
}

a {
    color: #b8c4d0;
    text-decoration: none;
    height: 100%;
}

body {
    margin: 0;
    font-family: sans-serif;
    min-height: 100vh;
}
