.main-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container-list {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: 10px 20px 10px 20px;
}

.article-container {
    width: 390px;
    max-width: 100%;
    margin: 10px;
    border-radius: 0.5em;
    background-color: #414141;
}

.article-container:hover {
    box-shadow: 0.25em 0.25em 2em #181818;
}

.cover {
    position: relative;
    height: 240px;
}

.cover-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5em 0.5em 0 0;
}

.article-info {
    flex-direction: column;
    align-items: center;
    padding: 6px 10px 6px 10px;
}

.source {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to top, #000, transparent);
}

.source .left {
    margin: 15px 0 10px 10px;
}

.source .right {
    margin: 15px 10px 10px 0;
}

.article-info .title {
    font-size: 1.2em;
}

.article-info .desc {
    color: #8e8e8e;
    font-size: 0.9em;
    margin: 8px 0 5px 0;
}

.pagination-container {
    display: flex;
    justify-content: center;
}

.pagination {
    width: 800px;
    max-width: 100vw;
    display: flex;
    /* justify-content: space-between; */
    align-content: center;
    padding-left: 15px;
    padding-right: 15px;
}

.pagination li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    min-width: 10%;
    height: 40px;
}

.pagination li a {
    height: 40px;
    line-height: 40px;
    padding-left: calc(25px - 0.5em);
    padding-right: calc(25px - 0.5em);
    border-radius: 0.3em;
}

.selected a {
    background-color: #414141;
}

.pagination li a:hover {
    background-color: #414141;
    cursor: pointer
}