html {
  background-color: #393939;
  color: #b8c4d0;
}

a {
  color: #b8c4d0;
  text-decoration: none;
}

body {
  margin: 0;
}

.header {
  display: flex;
  box-shadow: 0 0 0.5em #181818;
}

.header .logo {
  display: flex;
  margin: 10px;
  align-items: center;
}

.container-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 1% 1% 0 1%;
}

.article-container {
  width: 19%;
  height: fit-content;
  margin-bottom: 1%;
  border-radius: 0.5em;
  background-color: #414141;
}

.article-container:hover {
  box-shadow: 0.25em 0.25em 2em #181818;
}

.cover {
  width: 100%;
  border-radius: 0.5em 0.5em 0 0;
}

.article-info {
  flex-direction: column;
  padding: 6px 10px 6px 10px;
}

.article-info .title {
  font-size: 1.3em;
}

.article-info .desc {
  color: #8e9292;
  font-size: 0.5em;
  margin: 8px 0 5px 0;
}