html {
  background-color: #393939;
  color: #b8c4d0;
}

a {
  color: #b8c4d0;
  text-decoration: none;
}

a:hover {
  color: #8e9292;
}

.article-container {
  display: flex;
  width: 400px;
  flex-direction: column;
  border-radius: 0.5em;
  background-color: #414141;
}

.article-container:hover {
  box-shadow: 0.25em 0.25em 1em #181818;
}

.cover-img {
  width: 100%;
  flex: 1;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.article-info {
  width: 100%;
  flex: 1;
  padding: 10px;
}