html {
  background-color: #393939;
  color: #b8c4d0;
}

a {
  color: #b8c4d0;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.header {
  display: flex;
  box-shadow: 0 0 0.5em #181818;
}

.header .logo {
  display: flex;
  margin: 10px;
  align-items: center;
}

.container-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
  margin: 20px 0 0 20px;
}

.article-container {
  width: 100%;
  max-width: 400px;
  max-height: 300px;
  margin: 0 20px 20px 0;
  border-radius: 0.5em;
  background-color: #414141;
}

.article-container:hover {
  box-shadow: 0.25em 0.25em 2em #181818;
}

.cover {
  width: 100%;
  max-height: 50%;
  object-fit: cover;
  border-radius: 0.5em 0.5em 0 0;
}

.article-info {
  flex-direction: column;
  padding: 6px 10px 6px 10px;
}

.source {
  background-color: #8e8e8e;
  font-size: 16px;
  font-weight: 600;
  color: #414141;
  padding: 0 5px 0 5px;
  margin: 0 5px 0 0;
  border-radius: 0.3em;
}

.article-info .title {
  font-size: 1.3em;
}

.article-info .desc {
  color: #8e8e8e;
  font-size: 0.5em;
  margin: 8px 0 5px 0;
}